include README.md
include LICENSE
include requirements.txt
include pytest.ini
include config/config.yaml
recursive-include templates *.yaml
recursive-include docs *.md
recursive-exclude tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .git*